    <table>
      <thead>
        <tr>
          <th>ID No.</th>
          <th>Name</th>
          <th>Description</th>
          <th>Completed</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
  <tbody>
    <% todos.forEach(function(element) { %>
    <tr>
      <td> <%= element._id %></td>
      <td> <%= element.name %> </td>
      <td> <%= element.description %></td>
      <td> <%= element.completed %></td>
      <td> <form method="GET" action="/todos/<%= element._id %>"><button type="submit" id="update" onclick="location.href='/todos/update'">Update</button></form></td>
      <td> <form method="POST" action="/todos/<%= element._id %>?_method=DELETE"><button type="submit" id="delete" >Delete</button></form></td>
    </tr>
    <%  }); %>
  </tbody>
</table>

<button type="submit" id='newitem' onclick="location.href='/todos/add_new'">Add New</button>
